@page
@model StockStore.WebApp.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>لیست کالاها</h1>
<hr/>
<p>
    <a asp-page="Add" class="myButton">افزودن کالا</a>
</p>
<table>
    <thead>
    <tr>
        <th>تصویر</th>
        <th>نام</th>
        <th>قیمت</th>
        <th>دستورات</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>
                <img src="/img/@(product.Id).jpg" style="max-width: 200px; border: 1px solid gray;padding: 3px"/>
            </td>
            <td>
                @product.Name
            </td>
            <td>@product.Item.Price</td>
            <td>
                <a asp-page="Edit" asp-route-productId="@product.Id">ویرایش</a>
                <a asp-page="Delete" asp-route-productId="@product.Id">حذف</a>
            </td>
        </tr>
    }
    </tbody>
</table>

